@model List<Message>
@{
    int count = 0;
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Son Mesajlaşmalar</h6>
                    <a href="/Admin/Message/InboxMessage">Tümünü Gör</a>
                </div>
                @foreach (var item in Model)
                {
                    count++;
                    if (count <= 4)
                    {
                        var timeSpan = DateTime.Now - item.SendingTime;
                        var minutesAgo = timeSpan.TotalMinutes;
                        string deger = "";
                        if (minutesAgo > 1440)
                        {
                            minutesAgo = timeSpan.TotalDays;
                            deger = "gün";
                        }
                        else if (minutesAgo>60)
                        {
                            minutesAgo = timeSpan.TotalHours;
                            deger = "saat";
                        }
                        else
                        {
                            minutesAgo = timeSpan.TotalMinutes;
                            deger = "dakika";
                        }

                        // Checking if SendingTime is a valid date
                        if (item.SendingTime > DateTime.MinValue)
                        {
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="@item.Sender.ImageUrl" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">@item.Sender.Name @item.Sender.Surname</h6>
                                        <small>(@item.SendingTime.ToString("dd.MM.yyyy HH:mm")) - @Math.Floor(minutesAgo) @deger önce</small>
                                    </div>
                                    <span>
                                        @{
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)
                                            ;
                                        }...
                                    </span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="@item.Sender.ImageUrl" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">@item.Sender.Name @item.Sender.Surname</h6>
                                        <small>Geçersiz tarih</small>
                                    </div>
                                    <span>
                                        @{
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)
                                            ;
                                        }...
                                    </span>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0">Takvim</h4>
                </div>
                <div id="calender"></div>
            </div>
        </div>
    </div>
</div>
