@model MyBlog.PresentationLayer.Models.WeatherForecastViewModel

<div class="col-xl-8 grid-margin stretch-card">
    <div class="card card-calender">
        <div style="background-color:darkgray" class="card-body">
            <div class="row pt-4">
                <div class="col-sm-6">
                    <h1 class="text-white">@DateTime.Now.ToString("HH:mm")</h1>
                    <h5 class="text-white">@DateTime.Now.ToString("dddd dd MMMM, yyyy")</h5>
                    <h5 class="text-white pt-2 m-0">Nem: @Model.CurrentHumidity %</h5>
                    <h5 class="text-white m-0">Rüzgar: @Model.CurrentWindSpeed m/s</h5>
                </div>
                <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                    <h3 class="text-white">@Model.CurrentWeatherDescription</h3>
                    <p class="text-white m-0">@Model.City, @Model.Country</p>
                    <h3 class="text-white m-0">@Model.CurrentTemperature °C</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <ul class="d-flex pl-0 overflow-auto">
                        @foreach (var forecast in Model.DailyForecasts)
                        {
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">@DateTime.ParseExact(forecast.Date, "yyyy-MM-dd HH:mm:ss", null).ToString("dd MMM, yyy")</p>

                                <img src="http://openweathermap.org/img/wn/@(forecast.WeatherIcon).png" alt="weather-icon">
                                <p class="mb-0">@forecast.Temperature<span class="symbol">°c</span></p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
