@model List<Article>
<div class="single-post__author__profile">
    @foreach (var item in Model)
    {
        <div class="single-post__author__profile__pic">
            <img src="@item.AppUser.ImageUrl" alt="">
        </div>

        <div class="single-post__author__profile__text">
            <a href="/Blog/BlogList/@item.AppUserId"><h4>@item.AppUser.Name @item.AppUser.Surname</h4></a>
            <p>
                @item.AppUser.About
            </p>
            <div class="single-post__author__profile__social">
                <a href="@item.AppUser.FacebookUrl"><i class="fa fa-facebook"></i></a>
                <a href="@item.AppUser.TwitterUrl"><i class="fa fa-twitter"></i></a>
                <a href="@item.AppUser.InstagramUrl"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    }  
</div>