@model List<AppUser>
<div class="single-post__author__profile">
    @foreach (var item in Model)
    {
        <div class="single-post__author__profile__pic">
            <img src="@item.ImageUrl" alt="">
        </div>

        <div class="single-post__author__profile__text">
            <a href="/Blog/BlogList/@item.Id"><h4>@item.Name @item.Surname</h4></a>
            <p>
                @{
                    if (item.About?.Length > 200)
                    {
                        var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.About, 200);
                        @Html.Raw(summary)
                        ;
                    }
                    else
                    {
                        var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.About, 200);
                        @Html.Raw(summary)?.ToString()
                        ;
                    }
                }...
            </p>
            <div class="single-post__author__profile__social">
                <a href="@item.FacebookUrl"><i class="fa fa-facebook"></i></a>
                <a href="@item.TwitterUrl"><i class="fa fa-twitter"></i></a>
                <a href="@item.InstagramUrl"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    }  
</div>