@using MyBlog.DataAccessLayer.EntityFramework
@model List<Article>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
    <!-- Page Preloder -->
    <!-- Humberger Begin -->
    @await Component.InvokeAsync("_DefaultSideBarComponentPartial")
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")
    <!-- Header Section End -->
    <!-- Categories Section Begin -->


    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="breadcrumb__text">
                                <h2>@ViewBag.categoryname Kategorisindeki<span> Tüm Bloglar</span></h2>
                            </div>
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="categories__post__item">
                                            <div class="categories__post__item__pic small__item set-bg"
                                                 data-setbg="@item.ThumbImageUrl">
                                                <div class="post__meta">
                                                    <h4>@item.CreatedDate.ToString("dd")</h4>
                                                    <span>@item.CreatedDate.ToString("MMM")</span>
                                                </div>
                                            </div>
                                            <div class="categories__post__item__text">
                                                <span class="post__label">Yazar: @item.AppUser.Name @item.AppUser.Surname</span>
                                                <h3><a href="/Blog/BlogDetail/@item.ArticleId">@item.Title</a></h3>
                                                <ul class="post__widget">
                                                    <li>@item.ReadingTime Dakikalık Okuma Süresi</li>
                                                    <li>@item.Comments.Count Yorum</li>
                                                </ul>
                                                <p>
                                                    @{
                                                        if (item.Detail?.Length > 200)
                                                        {
                                                            @item.Detail.Substring(0, 200)
                                                            ;
                                                        }
                                                        else
                                                        {
                                                            @item.Detail?.ToString()
                                                            ;
                                                        }
                                                    }...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-12 text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    <!-- Footer Section End -->
    <!-- Search Begin -->
    @await Component.InvokeAsync("_DefaultSearchComponentPartial")
    <!-- Search End -->
    <!-- Js Plugins -->
    @await Component.InvokeAsync("_DefaultJSPluginsComponentPartial")
</body>
</html>