@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <h2>Yorumlar</h2>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <table style="text-align:center" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Adı</th>
                            <th scope="col">Soyadı</th>
                            <th scope="col">Blog</th>
                            <th scope="col">Yazar</th>
                            <th scope="col">Yorum Tarihi</th>
                            <th scope="col">Onay Durumu</th>
                            <th scope="col">Yayına Git</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CommentId</td>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Article.Title</td>
                                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyy")</td>
                                <td>
                                    <a href="/Admin/Comment/ChangeIsApprovedComment/@item.CommentId">
                                    @{
                                        if (item.IsApproved == true)
                                        {
                                            <i style="color:lightskyblue;font-size:20px" class="fas fa-check-circle"></i>
                                        }
                                        else
                                        {
                                            <i style="color:palevioletred;font-size:20px" class="fas fa-times-circle"></i>
                                        }
                                    }
                                    </a>
                                </td>
                                <td><a class="btn btn-outline-warning" href="/Blog/BlogDetail/@item.ArticleId"><i class="fas fa-paper-plane"></i></a></td>
                                <td><a class="btn btn-outline-danger" href="/Admin/Comment/DeleteComment/@item.CommentId">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>