@model List<Article>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="container">
    <br />
    <div class="row">
        <h2>Bloglar</h2>
    </div>
    <div class="row">
        <a style="height:auto;width:auto" class="btn btn-outline-primary" href="/Admin/Blog/CreateBlog">Yeni Blog Ekle</a>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <table style="text-align:center" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Blog Başlığı</th>
                            <th scope="col">Görsel</th>
                            <th scope="col">İçerik</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Oluşturulma Tarihi</th>
                            <th scope="col">Yazar</th>
                            <th scope="col">Yorum Sayısı</th>
                            <th scope="col">Öne Çıkarılmış</th>
                            <th scope="col">Yayında</th>
                            <th scope="col">Yayına Git</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Title</td>
                                <td><img src="@item.CoverImageUrl" style="height:75px;width:100px;" class="rounded mx-0 d-block" alt="@item.CoverImageUrl"></td>
                                <td>
                                    @{
                                        if (item.Detail.Length > 50)
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Detail, 50);
                                            @Html.Raw(summary)
                                            ;
                                        }
                                        else
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Detail, 50);
                                            @Html.Raw(summary)?.ToString()
                                            ;
                                        }
                                    }...
                                </td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyy")</td>
                                <td><a href="/Admin/Author/UpdateAuthor/@item.AppUserId">@item.AppUser.Name @item.AppUser.Surname</a></td>
                                <td>@item.Comments.Count()</td>
                                <td>
                                    <a href="/Admin/Blog/ChangeIsFeaturePostBlog/@item.ArticleId">
                                    @{
                                        if (item.IsFeaturePost == true)
                                        {
                                            <i style="color:lightskyblue;font-size:20px" class="fas fa-check-circle"></i>
                                        }
                                        else
                                        {
                                            <i style="color:palevioletred;font-size:20px" class="fas fa-times-circle"></i>
                                        }
                                    }
                                    </a>
                                </td>
                                <td><a href="/Admin/Blog/ChangeIsApprovedBlog/@item.ArticleId">
                                    @{
                                        if (item.IsApproved == true)
                                        {
                                            <i style="color:green;font-size:20px" class="fas fa-play"></i>
                                        }
                                        else
                                        {
                                            <i style="color:red;font-size:20px" class="fas fa-pause"></i>
                                        }
                                        }
                                    </a>
                                </td>
                                <td><a class="btn btn-outline-warning" href="/Blog/BlogDetail/@item.ArticleId"><i class="fas fa-paper-plane"></i></a></td>
                                <td><a class="btn btn-outline-success" href="/Admin/Blog/UpdateBlog/@item.ArticleId">Güncelle</a></td>
                                <td><a class="btn btn-outline-danger" href="/Admin/Blog/DeleteBlog/@item.ArticleId">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>