@model List<Article>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="container">
    <br />
    <div class="row">
        <h2>Bloglar</h2>
    </div>
    <div class="row">
        <a style="height:auto;width:auto" class="btn btn-outline-primary" href="/Admin/Blog/CreateBlog">Yeni Blog Ekle</a>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Hoverable Table</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Blog Başlığı</th>
                            <th scope="col">Görsel</th>
                            <th scope="col">İçerik</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Oluşturulma Tarihi</th>
                            <th scope="col">Yazar</th>
                            <th scope="col">Yorum Sayısı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ArticleId</td>
                                <td>@item.Title</td>
                                <td>@item.CoverImageUrl</td>
                                <td>@item.Detail?.Substring(0,50)</td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.AppUser.Name @item.AppUser.Surname</td>
                                <td>@item.Comments.Count()</td>
                            </tr>
                        }                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>