@model AppUser
<br />
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <br />
        <a class="sidebar-brand brand-logo" href="/Write/Dashboard/Index"><img src="~/images/logo.png" /><br /><span style="font-size:large" class="badge badge-info text white">YAZAR PANELİ</span></a>
        <br />
        <a class="sidebar-brand brand-logo-mini pl-3 pt-3" href="/Write/Dashboard/Index"><img style="height:30px;width:30px" src="~/images/batuhan-yalin-logo.png" /></a>
    </div>
    <br />
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="@Model.ImageUrl" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@Model.Name @Model.Surname</span>
                    <span class="font-weight-normal">Toplam Blog Sayısı:<span class="badge badge-primary text-white ml-3 rounded">@ViewBag.articlecount</span></span>
                </div>
                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/CreateBlog">
                <i class="mdi mdi-blogger menu-icon">+</i>
                <span class="menu-title">Yeni Blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-email-outline menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/CreateMessage">
                            <i class="mdi mdi-email-variant menu-icon">+</i>
                            <span class="menu-title">Yeni Mesaj</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/InboxMessage">
                            <i class="mdi mdi-email menu-icon"></i>
                            <span class="menu-title"><span class="badge badge-success text-white ml-1 rounded">@ViewBag.InboxCount</span><span style="color:red" class="badge badge-pill ml-1 rounded">@ViewBag.InboxIsReadFalseCount</span> Gelen</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SentMessage">
                            <i class="mdi mdi-send menu-icon"></i>
                            <span class="menu-title"><span class="badge badge-warning text-white ml-1 rounded">@ViewBag.SentMessageCount</span> Gönderilen</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/DraftMessage">
                            <i class="mdi mdi-content-save menu-icon"></i>
                            <span class="menu-title"><span class="badge badge-secondary text-white ml-1 rounded">@ViewBag.DraftMessageCount</span> Taslaklar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/ImportantMessage">
                            <i class="mdi mdi-star menu-icon"></i>
                            <span class="menu-title"><span class="badge badge-danger text-white ml-1 rounded">@ViewBag.ImportantMessageCount</span> Önemliler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/JunkMessage">
                            <i class="mdi mdi-delete menu-icon"></i>
                            <span class="menu-title"><span class="badge badge-dark text-white ml-1 rounded">@ViewBag.JunkMessageCount</span> Silinenler</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/Index">
                <i class="mdi mdi mdi-blogger menu-icon"></i>
                <span class="menu-title">Bloglarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Content/Index">
                <i class="mdi mdi-comment menu-icon"></i>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="/Write/Notification/Index">
                <i class="mdi mdi-flag-triangle menu-icon"></i>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Write/Profile/EditProfile">
                <i class="mdi mdi mdi-account menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Logout">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
