
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div id="page-wrapper" class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Dashboard <small>Statistics Overview</small></h1>
		</div>
	</div><!-- /.row -->
	<br />
	<div class="row">
		<div class="col-lg-3">
			<div style="background-color:#fad390;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fas fa-pen-nib fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalAuthor</p>
							<p class="announcement-text">Toplam Yazar</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Author/AuthorIndex">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#95a5a6;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fa fa-users fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalAdmin</p>
							<p class="announcement-text">Toplam Yönetici</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Author/AdminIndex">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#8e44ad;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fa fa-tasks fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalBlog</p>
							<p class="announcement-text">Toplam Blog</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Blog/Index">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#82ccdd;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fa fa-comments fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalComment</p>
							<p class="announcement-text">Toplam Yorum</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Comment/Index">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div><!-- /.row -->
	<br />
	<div class="row">
		<div class="col-lg-3">
			<div style="background-color:#16a085;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fas fa-stream fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalCategory</p>
							<p class="announcement-text">Toplam Kategori</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Category/Index">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#f1c40f;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fas fa-inbox fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalMessage</p>
							<p class="announcement-text">Toplam Mesaj</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Message/AdminListMessage">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#2c3e50;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fas fa-star fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalImportantMessage</p>
							<p class="announcement-text">Önemli Mesaj</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Message/ImportantMessage">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3">
			<div style="background-color:#ffb8b8;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fas fa-trash-alt fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">
							<p style="font-size:20px" class="announcement-heading">@ViewBag.totalJunkMessage</p>
							<p class="announcement-text">Silinen Mesaj</p>
						</div>
					</div>
				</div>
				<a href="/Admin/Message/JunkMessage">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div><!-- /.row -->
	<br />
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li class="active"><i class="fa fa-dashboard"></i>Kategori İstatistikleri</li>
			</ol>
		</div>
	</div><!-- /.row -->
	<div class="row">
		<div class="col-lg-3">
			<div style="background-color:gray;color:white">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6 text-left">
							<h4 class="announcement-text">Teknoloji Blog Sayısı</h4>
							<h5>5</h5>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								Görüntüle
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div><!-- /.row -->

</div>
