@model List<Message>
<li class="nav-item dropdown d-none d-sm-flex">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-email-outline"></i>
        <span class="count count-varient2">@Model.Count</span>
    </a>
    <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Mesajlar</h6>
        @foreach (var item in Model)
        {
            <a href="/Writer/Message/DetailMessage/@item.MessageId" class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow">
                    <span class="badge badge-pill badge-success">@item.Sender.Name @item.Sender.Surname</span>
                    <h4 class="text-small text-muted ellipsis mb-0"> @item.Subject </h4>
                    <p class="text-small text-muted ellipsis mb-0">
                        @{
                            if (item.Text.Length > 50)
                            {
                                var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                @Html.Raw(summary)
                                ;
                            }
                            else
                            {
                                var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                @Html.Raw(summary)?.ToString()
                                ;
                            }
                        }...
                    </p>
                </div>
                <p class="text-small text-muted align-self-start">@item.SendingTime.ToString("dd.MM.yyy HH:mm")</p>
            </a>
        }
        <a href="/Writer/Message/InboxMessage"><h6 class="p-3 mb-0">Tüm Mesajları Göster</h6></a>
    </div>
</li>