@model List<Message>
@{
    ViewData["Title"] = "AdminListMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container">
    <br />
    <div class="row">
        <h2>Tüm Mesajlar</h2>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <table style="text-align:center" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gönderici</th>
                            <th scope="col">Alıcı</th>
                            <th scope="col">Mesaj Başlığı</th>
                            <th scope="col">İçerik</th>
                            <th scope="col">Mesaj Tarihi</th>
                            <th scope="col">Okunma Durumu</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Sender.Name @item.Sender.Surname</td>
                                <td>@item.Receiver.Name @item.Receiver.Surname</td>
                                <td>@item.Subject</td>
                                <td>
                                    @{
                                        if (item.Text.Length > 50)
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)
                                            ;
                                        }
                                        else
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)?.ToString()
                                            ;
                                        }
                                    }...
                                </td>
                                <td>@item.SendingTime</td>
                                <td>
                                    <a href="/Admin/Message/ChangeIsReadMessageForAdminListMessage/@item.MessageId">
                                        @{
                                            if (item.IsRead == false)
                                            {

                                                <i style="color:dimgray;font-size:20px" class="fas fa-envelope"></i>
                                            }

                                            else
                                            {
                                                <i style="color:forestgreen;font-size:20px" class="fas fa-envelope-open-text"></i>
                                            }
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a href="/Admin/Message/UpdateMessage/@item.MessageId"><i style="color:cadetblue;font-size:large" class="fas fa-check-circle"></i></a>

                                </td>
                                <td>
                                    <a href="/Admin/Message/DeleteMessage/@item.MessageId"><i style="color:red;font-size:large" class="fas fa-times-circle"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>