@model List<Message>
@{
    ViewData["Title"] = "SentMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container">
    <br />
    <div class="row">
        <h2>Gönderilen Mesajlar</h2>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <table style="text-align:center" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Alıcı</th>
                            <th scope="col">Mesaj Başlığı</th>
                            <th scope="col">İçerik</th>
                            <th scope="col">Mesaj Tarihi</th>
                            <th scope="col">Durum</th>
                            <th scope="col">Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Receiver.Name @item.Receiver.Surname</td>
                                <td>@item.Subject</td>
                                <td>
                                    @{
                                        if (item.Text.Length > 50)
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)
                                            ;
                                        }
                                        else
                                        {
                                            var summary = CustomHtmlHelper.GetPlainTextFromHtml(item.Text, 50);
                                            @Html.Raw(summary)?.ToString()
                                            ;
                                        }
                                    }...
                                </td>
                                <td>@item.SendingTime</td>
                                <td>                                
                                        @{
                                            if (item.IsRead == false)
                                            {

                                                <i style="color:dimgray;font-size:20px" class="fas fa-envelope"></i>
                                            }

                                            else
                                            {
                                                <i style="color:forestgreen;font-size:20px" class="fas fa-envelope-open-text"></i>
                                            }
                                        }
                                   
                                </td>
                                <td>
                                    <a href="/Admin/Message/ShowSentMessageDetail/@item.MessageId"><i style="font-size:20px" class="fas fa-search"></i></a>
                                </td>
                            </tr>
                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
